/*
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/



/*COMPUTADOR------------COMPUTADOR---------------COMPUTADOR---------------COMPUTADOR---------------COMPUTADOR---------------COMPUTADOR*/
@media screen and (min-width: 768px) {
    body {
        background: radial-gradient(#200752, black) fixed;
        background-attachment: fixed;
        margin: 0%;
    }
    
    #corpo {
        background: radial-gradient(180deg,#200752, rgb(55, 55, 55)) fixed;
        margin: 0% 3% 0% 3%;
        padding-top: 10%;
        padding-bottom: 1%;
    }
    
    #introducao {
        margin: 0% 15% 0% 5%;
        background-color: #141259;
        padding: 2% 3% 2% 3%;
        margin-bottom: 15%;
        border: solid 3px;
        font-size: 15pt;
    }
    
    #fundamentacao {
        margin: 0% 15% 0% 5%;
        background-color: #141259;
        padding: 2% 3% 2% 3%;
        margin-bottom: 15%;
        border: solid 3px;
        font-size: 15pt;
    }
    
    #objetivos {
        margin: 0% 15% 0% 5%;
        background-color: #141259;
        padding: 2% 3% 2% 3%;
        margin-bottom: 15%;
        border: solid 3px;
        font-size: 15pt;
    } 
}
/*------------------------------------------------------------------------------------------------------------------------------------*/