body {
    background: radial-gradient(#200752, black) fixed;
    background-attachment: fixed;
    margin: 0% 10% 0% 10%;
}

#corpo {
    background-color: rgb(55, 55, 55);
    padding-bottom: 1%;
}

#introducao {
    margin: 0% 15% 0% 5%;
    background-color: #141259;
    padding: 2% 3% 2% 3%;
    margin-bottom: 15%;
    border: solid 3px;
    font-size: 15pt;
}

#fundamentacao {
    margin: 0% 15% 0% 5%;
    background-color: #141259;
    padding: 2% 3% 2% 3%;
    margin-bottom: 15%;
    border: solid 3px;
    font-size: 15pt;
}

#objetivos {
    margin: 0% 15% 0% 5%;
    background-color: #141259;
    padding: 2% 3% 2% 3%;
    margin-bottom: 15%;
    border: solid 3px;
    font-size: 15pt;
}