#contatos{
    background-image: linear-gradient(-180deg,  black -100%,#2e0879);
    height: 100px;
    margin: 30% 0% 0% 0%;
}
#contatos p{
    display: inline-block;
    position: relative;
    top: 5%;
    left: 85%;
    font-size: 225%;
    margin: 0%;
}
.redeSocial {
    float: right;
    width: 20%;
    height: 100%;
}

#discord,
#youtube,
#gmail,
#instagram {
    position: relative;
    top: 55%;
    left: 16%;
    margin-right: 5%;
    background-color: #2e0879;
    border: solid black 3px;
    border-radius: 100%;
    width: 10%;
}